/* --- 01 TYPOGRAPHY ---
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
:root {
  --dark: #343a40;
  --darker: #1a1d20;
  --darkest: #0a0c0d;
  --light: rgb(246, 246, 246);
  --gray: rgb(119, 119, 121);
  --red: rgb(240, 62, 62);
  --lightRed: #ff8787;
}

/* HEADER */
.contact {
  padding: 1.5rem 3rem;
  font-size: 2rem;
}

.header {
  /* max-width: 130rem; */
  width: 100%;
  height: 8rem;
  padding: 0rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 6.2rem;
  margin: 0 auto;
  position: relative;
}

.sticky.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transform: translate(-50%);
  background-color: hsla(210, 10%, 11%, 0.904);
  padding: 0rem 20rem;
  margin: 0 auto;
}

.logo-img {
  width: 8rem;
  height: 8rem;
  transition: all 0.4s;
}
.header-menu {
  display: flex;
  gap: 9.8rem;
  font-size: 7.4rem;
  justify-content: space-between;
}

.header-logo img {
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
}
.header_tag {
  color: var(--light);
  display: flex;
  gap: 5rem;
  align-items: center;
}

/* .header_tag a:hover {
  color: var(--gray);
} */

.social {
  position: fixed;
  top: 50%;
  left: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateY(-50%);
  color: var(--gray);
}

.header_tag a {
  position: relative;
}

.header_tag a:not(:last-child):after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #ff8787;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

.header_tag a:hover::after {
  width: 100%;
}

.contact a::after {
  height: 0;
}

.social-icon {
  width: 3.6rem;
  height: 3.6rem;
  transition: all 0.4s;
}

.social-icon:hover {
  color: var(--red);
}

/* HERO */
.view-100 {
  background: #151418;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='1080' preserveAspectRatio='none'%3E%3Cg mask='url(%26quot;%23SvgjsMask1025%26quot;)' fill='none'%3E%3Cpath fill='rgba(0, 0, 0, 1)' d='M0 0h1920v1080H0z'/%3E%3Cpath d='M0 696c192-41.4 576-183.4 960-207 384-23.6 768 71.2 960 89v502H0z' fill='rgba(21, 20, 24, 1)'/%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1025'%3E%3Cpath fill='%23fff' d='M0 0h1920v1080H0z'/%3E%3C/mask%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 100vh;
}
.nikos {
  font-weight: 500;
  display: inline-block;
}

.hero-scroll {
  margin-top: 7rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.hero-scroll p:hover {
  color: red;
}

.hero-scroll img {
  width: 3.5rem;
  height: 3.5rem;
}

.hero-section {
  height: 100vh;
}

.hero-text {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  gap: 3rem;
  font-weight: 400;
}
.hero-text h1 {
  font-size: 7rem;
  font-weight: inherit;
  color: var(--light);
  line-height: 1.1;
}

.hero-text h1 span {
  font-size: inherit;
  color: var(--red);
}

.hero-text {
  font-weight: inherit;
  color: var(--gray);
}
.hero-text p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(211, 211, 211);
}

.hero-img-box {
  display: flex;
  justify-content: center;
}

.hero-img {
  height: 360px;
  width: 360px;
  border-radius: 100%;
}

.hero-section {
  width: 120rem;
  margin: 0 auto;
  font-size: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
}

/* ABOUT */
.text-box h2 {
  font-size: 3.6rem;
  color: var(--red);
}
.text-box {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-skill-text {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  gap: 1rem;
}
.about-skill-box {
  padding-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.about-skill {
  display: flex;
  gap: 3rem;
}
.skill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
}
.about-section {
  font-size: 5rem;
  /* margin-top: 48rem; */
  height: 1000px;
}
.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin-bottom: 9.6rem;
}
.about-text {
  line-height: 1.8;
  letter-spacing: 1-5px;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
}

.about-img-box {
  display: flex;
  justify-content: center;
}
.about-img {
  width: 350px;
  height: 350px;
}

/* PROJECTS */

.project-btnsParent {
  display: flex;
  justify-content: center;
}
.project-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 3rem; */
  justify-content: center;
  margin-bottom: 3rem;
  border: 1px solid #fff;
  width: 30rem;
  align-items: center;
}

.project-btn {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.project-display-box {
  display: none;
  overflow-x: hidden;
}
.project-display-box.active-project {
  display: block;
}

.dokimh {
  max-height: 900px;
  overflow: hidden;
}
.project-section {
  /* max-height: 100rem; */
  overflow: hidden;
}
.project-bigbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
}

.project-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-content: stretch;
  justify-content: stretch;
}
.project-img {
  width: 500px;
  height: 300px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 11px;
  box-shadow: 0 1rem 2rem hsla(0, 0%, 100%, 0.1);
}
.project-text {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}
.project-text-btn {
  display: flex;
  gap: 3rem;
  font-size: 3.6rem;
}

/* CONTACT */

.contact-section {
  font-size: 3rem;
  height: 100vh;
}
.contact-section {
  font-size: 3rem;
}
.contact-box-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.contact-form {
  font-size: 2rem;
}

.contact-img {
  width: 300px;
  width: 300px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  font-size: 5rem;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

input {
  background: var(--dark);
  color: var(--light);
}

input::placeholder {
  color: var(--light);
  padding-left: 1rem;
}

.subject {
  grid-row: 2/3;
  grid-column: 1/3;
}

.message {
  grid-column: 1/3;
  background-color: var(--dark);
  color: var(--light);
}

.message::placeholder {
  color: var(--light);
  padding-left: 1rem;
}

.submit {
  grid-column: 2/3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.footer {
  font-size: 3rem;
  text-align: center;
  color: var(--dark);
}
.footer-year {
  font-size: 1.8rem;
}

/* ------------------------ */
.projest-slide-bigbox {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 100rem;
  height: 70rem;
  overflow: hidden;
}

.project-slide-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
}
.project-slide-box h4 {
  font-size: 4rem;
  text-align: center;
}

.project-slide-box img {
  width: 100%;
  height: 60rem;
  border-radius: 9px;
  border: 3px solid #fff;
  justify-content: center;
  align-self: center;
}

.project-slide-box p {
}

.project-slide-box span {
}

.project-slide-box button {
}

.right-btn,
.left-btn {
  z-index: 999;
  position: absolute;
  border: none;
  background: var(--light);
  padding: 1.8rem;
  border-radius: 50%;
  bottom: 50%;
  cursor: pointer;
}

.right-btn ion-icon,
.left-btn ion-icon {
  width: 3.6rem;
  height: 3.6rem;
}

.right-btn {
  right: 9%;
  transform: translate(100%);
}

.left-btn {
  left: 0;
  transform: translate(25%);
}
.project-slide-box--1 {
  transform: translate(0%);
}
.project-slide-box--2 {
  transform: translate(100%);
}
.project-slide-box--3 {
  transform: translate(200%);
}

.slide-width {
  width: 90rem;
  align-self: center;
}

.slide-width img {
  align-self: center;
}

.project-btn.active-project-btn {
  background: var(--red);
  color: var(--light);
  font-weight: 700;
}
.icon-inner {
  display: flex;
  justify-content: center;
}

.nnn1 {
  font-size: 5rem;
  transition: all 400ms ease;
}

.nnn2 {
  font-size: 6.4rem;
  color: var(--red);
  font-weight: 700;
}

.map-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

#map {
  border-radius: 9px;
  display: flex;
  height: 40rem;
  width: 50%;
}
